<!-- <div class="container">
  <app-notas></app-notas>
</div> -->
<div class="container">

  <h3 class="d-flex justify-content-center">Angular 13, Web API .Net Core, SQL Server App Demo </h3>
  <h5 class="d-flex justify-content-center">Notas Management Portal</h5>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark bg-dark">
  <ul class="navbar-nav">
      <li class="nav-item">
          <button routerLink="notas"
          class="m-1 btn btn-light btn-outline-primary" Button>Notas</button>
      </li>

      <li class="nav-item">
          <button routerLink="profesors"
          class="m-1 btn btn-light btn-outline-primary" Button>Profesores</button>
      </li>
      <li class="nav-item">
        <button routerLink="estudiantes"
        class="m-1 btn btn-light btn-outline-primary" Button>Estudiantes</button>
    </li>
  </ul>
  </nav>

<router-outlet></router-outlet>

</div>
